body {
    margin: 0px;
    margin-bottom: 100px;
    background-color: black;
    color: white;
    font-family: "Share Tech", sans-serif;
}

header {
    border-bottom: solid 1px rgb(80, 175, 100);
    padding: 20px;
    font-size: 32px;
    color:rgb(80, 175, 100);
}

.inicio {
    display: flex;
    justify-content: center;
    background: rgb(40, 80, 80);
    padding-top: 80px;
    padding-bottom: 80px;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.texto {
    margin-right: 5%;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 20px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria h2 {
    color: rgb(80, 175, 100);
    font-size: 30px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 150px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid rgb(80, 175, 100);
}